<?xml version="1.0"?>
<config>
  <modules>
    <Istreet_Locator>
      <version>0.1.0</version>
    </Istreet_Locator>
  </modules>
  <frontend>
    <routers>
      <locator>
        <use>standard</use>
          <args>
            <module>Istreet_Locator</module>
            <frontName>locator</frontName>
          </args>
      </locator>
    </routers>
		<layout>
		  <updates>
			<locator>
			  <file>locator.xml</file>
			</locator>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <locator>
        <class>Istreet_Locator_Helper</class>
      </locator>
    </helpers>
	<blocks>
	  <locator>
		<class>Istreet_Locator_Block</class>
	  </locator>
	</blocks>
	<models>
	  <locator>
		<class>Istreet_Locator_Model</class>
		<resourceModel>locator_mysql4</resourceModel>
	  </locator>
	  <locator_mysql4>
		<class>Istreet_Locator_Model_Mysql4</class>
		<entities>		  
			  <stores>
				<table>stores</table>
			  </stores>
        </entities>
	  </locator_mysql4>
	</models>
	<resources>
	  <locator_setup>
		<setup>
		  <module>Istreet_Locator</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </locator_setup>
	  <locator_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </locator_write>
	  <locator_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </locator_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <locator>
	    <use>admin</use>
		<args>
		  <module>Istreet_Locator</module>
		  <frontName>admin_locator</frontName>
		</args>
	  </locator>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <locator module="locator">
		<title>Locator</title>
		<sort_order>100</sort_order>
		<children>
		  <stores module="locator">
		    <title>Manage Stores</title>
			<sort_order>0</sort_order>
			<action>admin_locator/adminhtml_stores</action>
		  </stores>
		</children>
	  </locator>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<locator translate="title" module="locator">
			  <title>Locator</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <stores translate="title">
			<title>Manage Stores</title>
			<sort_order>0</sort_order>
		  </stores>
			  </children>
			</locator>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<locator>
		  <file>locator.xml</file>
		</locator>
	  </updates>
	</layout>
  </adminhtml>
</config> 